Backup. 2026-01-21/Mon premier Agent IA.json
{
  "updatedAt": "2025-12-21T15:20:15.186Z",
  "createdAt": "2025-11-27T17:28:57.312Z",
  "id": "5tZG8rkrevllG5v3",
  "name": "Mon premier Agent IA",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "donne moi la citation du jour en séparant la citation de l'auteur",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "99170876-c030-45ca-951f-f61ad485a310",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "tngtech/deepseek-r1t2-chimera:free",
        "options": {
          "responseFormat": "={{ $json.chatInput }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "9d84544d-7ac7-49a4-8ac5-47d3face5294",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "8cTDFGmdQkTufHim",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "e84e1763-e698-473e-9310-874a78fccba3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IXSmA_e8CT5DlUjJ8KoaE7XOhvGumbJZJaS7JeH4taw",
          "mode": "list",
          "cachedResultName": "Citation du jour",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IXSmA_e8CT5DlUjJ8KoaE7XOhvGumbJZJaS7JeH4taw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 224953847,
          "mode": "list",
          "cachedResultName": "Citation du jour",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IXSmA_e8CT5DlUjJ8KoaE7XOhvGumbJZJaS7JeH4taw/edit#gid=224953847"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Auteur"
          ],
          "schema": [
            {
              "id": "Auteur",
              "displayName": "Auteur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Citation",
              "displayName": "Citation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "ba906eba-6fbe-4841-877f-1da90efc8dc2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w4MjnuW7NQ5ICb0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "02844e98-a533-43db-8867-fcaa048093de",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40e9cb08-7aef-427b-9145-7a37234471b4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T17:28:57.312Z",
      "createdAt": "2025-11-27T17:28:57.312Z",
      "role": "workflow:owner",
      "workflowId": "5tZG8rkrevllG5v3",
      "projectId": "zzdtZr91RSwsWyP2"
    }
  ],
  "activeVersion": null,
  "tags": []
}