Backup. 2026-03-02/RSS.json
{
  "updatedAt": "2026-01-02T14:32:58.505Z",
  "createdAt": "2025-12-07T20:56:52.418Z",
  "id": "UUiGEkBhjAuYmK8i",
  "name": "RSS",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3116e28-09df-4a5d-9d9d-e7f5c803a378",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $today }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -64
      ],
      "id": "0d5d0237-2dc6-4a2a-ac6d-ad46080bc13a",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        -64
      ],
      "id": "7e59156b-0770-4e25-862b-153ca3878ffc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -64
      ],
      "id": "b20aa268-1f3e-4d23-a66f-b5cc03a5a642",
      "name": "RSS la une"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            },
            {
              "fieldName": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "ea53c593-98de-4731-b16e-b0bfd2f07966",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "53c30a7c-d309-42aa-877d-d78d0cd58cf9",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "ivan.claitte@sirem.fr",
        "subject": "=Les gros titres",
        "message": "={{ $json.title[0] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[1] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[2] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[3] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[4] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[5] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[6] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[7] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[8] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[9] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -80
      ],
      "id": "84a0bbde-67ea-49e6-9618-8e6eafb029d2",
      "name": "Send a message",
      "webhookId": "b2f8bfd6-a433-4f5f-94c2-016185944de7",
      "credentials": {
        "gmailOAuth2": {
          "id": "n8fWbHqEoWVpZT0v",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        -80
      ],
      "id": "1a9f991a-13b6-427b-be44-aef3c248e85b",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS la une",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS la une": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6b73af9a-2a47-49e5-ab7d-deb47ca80db8",
  "activeVersionId": "6b73af9a-2a47-49e5-ab7d-deb47ca80db8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-07T20:56:52.418Z",
      "createdAt": "2025-12-07T20:56:52.418Z",
      "role": "workflow:owner",
      "workflowId": "UUiGEkBhjAuYmK8i",
      "projectId": "zzdtZr91RSwsWyP2"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-02T14:31:30.309Z",
    "createdAt": "2026-01-02T14:31:30.309Z",
    "versionId": "6b73af9a-2a47-49e5-ab7d-deb47ca80db8",
    "workflowId": "UUiGEkBhjAuYmK8i",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b3116e28-09df-4a5d-9d9d-e7f5c803a378",
                "leftValue": "={{ $json.isoDate }}",
                "rightValue": "={{ $today }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -480,
          -64
        ],
        "id": "0d5d0237-2dc6-4a2a-ac6d-ad46080bc13a",
        "name": "If"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -880,
          -64
        ],
        "id": "7e59156b-0770-4e25-862b-153ca3878ffc",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://www.lemonde.fr/rss/une.xml",
          "options": {}
        },
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1.2,
        "position": [
          -672,
          -64
        ],
        "id": "b20aa268-1f3e-4d23-a66f-b5cc03a5a642",
        "name": "RSS la une"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "isoDate",
                "order": "descending"
              },
              {
                "fieldName": "title"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          -208,
          -80
        ],
        "id": "ea53c593-98de-4731-b16e-b0bfd2f07966",
        "name": "Sort"
      },
      {
        "parameters": {
          "maxItems": 10,
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -16,
          -80
        ],
        "id": "53c30a7c-d309-42aa-877d-d78d0cd58cf9",
        "name": "Limit"
      },
      {
        "parameters": {
          "sendTo": "ivan.claitte@sirem.fr",
          "subject": "=Les gros titres",
          "message": "={{ $json.title[0] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[1] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[2] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[3] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[4] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[5] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[6] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[7] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[8] }}\n--------------------------------------------------------------------------------------------------\n{{ $json.title[9] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          368,
          -80
        ],
        "id": "84a0bbde-67ea-49e6-9618-8e6eafb029d2",
        "name": "Send a message",
        "webhookId": "b2f8bfd6-a433-4f5f-94c2-016185944de7",
        "credentials": {
          "gmailOAuth2": {
            "id": "n8fWbHqEoWVpZT0v",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "title"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          176,
          -80
        ],
        "id": "1a9f991a-13b6-427b-be44-aef3c248e85b",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "RSS la une",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RSS la une": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "famille claitte",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}