Backup. 2025-12-29/RSS.json
{
  "updatedAt": "2025-12-26T14:53:04.433Z",
  "createdAt": "2025-12-07T20:56:52.418Z",
  "id": "UUiGEkBhjAuYmK8i",
  "name": "RSS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3116e28-09df-4a5d-9d9d-e7f5c803a378",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $today }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -64
      ],
      "id": "0d5d0237-2dc6-4a2a-ac6d-ad46080bc13a",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        -64
      ],
      "id": "7e59156b-0770-4e25-862b-153ca3878ffc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -64
      ],
      "id": "b20aa268-1f3e-4d23-a66f-b5cc03a5a642",
      "name": "RSS la une"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            },
            {
              "fieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "ea53c593-98de-4731-b16e-b0bfd2f07966",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "53c30a7c-d309-42aa-877d-d78d0cd58cf9",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "6645103251",
        "text": "={{ $json.title }}\n{{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -192
      ],
      "id": "cd3bf498-9e88-4231-98a0-777305f6202c",
      "name": "Send a text message",
      "webhookId": "2f64de78-5873-4be1-b861-bbf9d0b41850",
      "credentials": {
        "telegramApi": {
          "id": "SmbreusoDQWXcbxm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ivan.claitte@sirem.fr",
        "subject": "=Les gros titres",
        "message": "={{ $json.title }}\n{{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        96
      ],
      "id": "84a0bbde-67ea-49e6-9618-8e6eafb029d2",
      "name": "Send a message",
      "webhookId": "b2f8bfd6-a433-4f5f-94c2-016185944de7",
      "credentials": {
        "gmailOAuth2": {
          "id": "n8fWbHqEoWVpZT0v",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS la une",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS la une": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7dbc0ab9-d68e-4b7b-b6e4-a7374ac072e6",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-07T20:56:52.418Z",
      "createdAt": "2025-12-07T20:56:52.418Z",
      "role": "workflow:owner",
      "workflowId": "UUiGEkBhjAuYmK8i",
      "projectId": "zzdtZr91RSwsWyP2"
    }
  ],
  "activeVersion": null,
  "tags": []
}