Backup. 2026-01-14/Scraper.json
{
  "updatedAt": "2025-12-14T14:44:42.189Z",
  "createdAt": "2025-12-14T14:12:30.752Z",
  "id": "WCVHNN0DlyJbdwBm",
  "name": "Scraper",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c2a266a4-f753-48bf-8853-4571be30036b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.wawacity.irish/?p=jeux&s=pc",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "e002dfaa-b331-47a4-869d-0e8aebbdf47e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3a46d403-761b-4b2c-aa35-7d0a7bfd5cee",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a6119bba-1174-45fa-a7f6-917be8421856",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-14T14:12:30.752Z",
      "createdAt": "2025-12-14T14:12:30.752Z",
      "role": "workflow:owner",
      "workflowId": "WCVHNN0DlyJbdwBm",
      "projectId": "zzdtZr91RSwsWyP2"
    }
  ],
  "activeVersion": null,
  "tags": []
}