Backup. 2026-01-09/Blague auto à 6h.json
{
  "updatedAt": "2026-01-02T14:28:24.535Z",
  "createdAt": "2025-12-21T15:09:41.777Z",
  "id": "vjK8WA7Pkjf8UpKY",
  "name": "Blague auto à 6h",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2cad60f3-93f3-43ca-8db3-99549a9b5137",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Quelle est la blague du jour ?\nje veux  3 éléments séparés (l'auteur, la question et la réponse).",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8e60332c-f3ec-4681-bc43-90b13705f24d",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "6645103251",
        "text": "=La blague du jour\n\n{{ $json.output.question }}\n{{ $json.output['réponse'] }}\n\n{{ $json.output.auteur }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "22eabe5a-7dd0-4e2f-9bb2-9fe1ead684ba",
      "name": "Send a text message",
      "webhookId": "3ce5be35-0265-442e-b00b-d430520576a7",
      "credentials": {
        "telegramApi": {
          "id": "SmbreusoDQWXcbxm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "e78dd1a2-d7be-48ae-b80c-b21db78c28a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PCTGZ0MUS7xRGgVp",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Donne moi la citation du jour"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"date\": \"23/12/2025\",\n    \"auteur\": \"gemini\",\n    \"blague\": \"Qu'est-ce qu'une blague ?\",\n    \"réponse\": \"Une question avec une drôle de réponse !\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "946a2099-360f-46d7-b6a2-586f8ee8593f",
      "name": "Structured Output Parser1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f5554e3a-d6e9-42a8-b69d-ab4d35d9edd8",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-21T15:09:41.777Z",
      "createdAt": "2025-12-21T15:09:41.777Z",
      "role": "workflow:owner",
      "workflowId": "vjK8WA7Pkjf8UpKY",
      "projectId": "zzdtZr91RSwsWyP2"
    }
  ],
  "activeVersion": null,
  "tags": []
}